# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
build/
dist/
wheels/

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
desktop.ini

# Streamlit local secrets
.streamlit/secrets.toml

# Logs
*.log
